In [3]:
FAANG = ['FB', 'AMZN', 'AAPL', 'NFLX', 'GOOGL']

In [4]:
for idx, symbol in enumerate(FAANG, 1):  #(FAANG,1)
    print(idx, symbol)

1 FB
2 AMZN
3 AAPL
4 NFLX
5 GOOGL

#(FAANG,1) 에서 1 은 첫번째 부터 시작한다는 것을 뜻한다.

In [6]:
try:
    1/0
    
except Exception as e:
    print('Exception occured :', str(e))

Exception occured : division by zero

In [8]:
L = [[1,2],[3,4]]

In [9]:
L

[[1, 2], [3, 4]]

In [11]:
L + L

[[1, 2], [3, 4], [1, 2], [3, 4]]

In [12]:
L*3

[[1, 2], [3, 4], [1, 2], [3, 4], [1, 2], [3, 4]]

In [13]:
myList = 'Thoughts become things.'.split()

In [15]:
myList

['Thoughts', 'become', 'things.']

In [20]:
' '.join(myList)

'Thoughts become things.'

join 을 쓰기 전에 꼭 ' ' 를 써야하는 것이 흥미롭다.

In [21]:
'-'.join('2012/01/04'.split('/'))

'2012-01-04'

In [22]:
'2012/01/04'.replace('/', '-')

'2012-01-04'

In [28]:
format(145145145,',')

'145,145,145'

In [29]:
nums = [1,2,3,4,5]

In [33]:
squares = [x**2 for x in nums]

In [34]:
squares

[1, 4, 9, 16, 25]

In [39]:
even_squares = [x**2 for x in nums if x % 2 == 0]

In [40]:
print(even_squares)

[4, 16]

In [38]:
2**2

4

In [41]:
myFunction = [abs,max]

In [44]:
myFunction[1]([2,2,4])

4

list 안에 function 도 들어갈 수 있는 것이 신기하다.

In [46]:
myTuple = ('a', 'b', 'c', [10, 20, 30], abs, max)

Tuple 은 괄호로 정의한다.